In [1]:
import pandas as pd

# 1. Loading

In [2]:
FOLDER = 'data/new_tmp_data'
TITLE = 'new_clean_data.csv'
path = '{}/{}'.format(FOLDER, TITLE)
df = pd.read_csv(path)
df.head()

     prix  surface  prix_m2   ville  code_postal origine  dept        id_
0   64000     15.0   4267.0  Rennes      35000.0      sl  35.0  144750643
1   64000     15.0   4267.0  Rennes      35000.0      sl  35.0  145092579
2   64000     15.0   4267.0  Rennes      35000.0      sl  35.0  145251425
3  142000     41.0   3463.0   Reims      51100.0      sl  51.0  143957953
4   75000     21.0   3571.0  Nantes      44000.0      sl  44.0  136150909

# 2. Processing

In [3]:
if False:
    # Dealing with Paris
    df['ville'] = df[['ville', 'code_postal']].apply(paris_decompo, axis=1)

In [4]:
if False:
    # Dealing with viager
    df['viager'] = df['contenu'].apply(lambda x: True if 'viager' in x else False)
    df_viager = df[df['viager']]
    df_viager_new = df_viager[df_viager.index>last_analyse]
    print('Nombre d\'appartement en viager au total', df_viager.shape[0])
    print('Nombre d\'appartement en viager nouveau', df_viager_new.shape[0])

# 3. Saving

In [5]:
FOLDER = 'data/new_tmp_data'
TITLE = 'new_process_data.csv'
path = '{}/{}'.format(FOLDER, TITLE)
df.to_csv(path, header=True, index=False)